<section class="product-gallery">
  <div class="product-gallery__sample">
    <img [src]="image()" alt="Imagen de muestra" />
  </div>

  <div class="product-gallery__list">
    <div class="block">
      <img [src]="image()" alt="Imagen de muestra" />
    </div>
    <div class="block">
      <img [src]="image()" alt="Imagen de muestra" />
    </div>
    <div class="block">
      <img [src]="image()" alt="Imagen de muestra" />
    </div>
    <div class="block">
      <img [src]="image()" alt="Imagen de muestra" />
    </div>
  </div>
</section>
