@use 'utils';

.product-gallery {
  display: flex;
  gap: utils.pxToRem(32px);
  align-items: center;

  @include utils.media-ltlg() {
    flex-direction: column;
    margin-top: utils.pxToRem(20px);
  }

  &__sample {
    flex-shrink: 0;
    aspect-ratio: 3 / 4;
    height: utils.pxToRem(450px);
    max-width: utils.pxToRem(500px);
    border: 1px solid utils.$color-gray-light;

    @include utils.media-ltlg() {
      height: utils.pxToRem(350px);
      max-width: utils.pxToRem(350px);
    }
  }

  &__list {
    display: flex;
    gap: utils.pxToRem(32px);
    flex-direction: column;

    @include utils.media-ltlg() {
      flex-direction: row;
    }

    .block {
      opacity: 0.6;
      width: utils.pxToRem(50px);
      height: utils.pxToRem(60px);
      border: 1px solid utils.$color-gray-light;

      &:hover {
        opacity: 1;
      }
    }
  }
}
