@use 'utils';

.simple-review {
  display: flex;
  align-items: start;
  gap: utils.pxToRem(16px);
  background: utils.$color-gray-light-2;
  padding: utils.pxToRem(16px);
  border-radius: utils.pxToRem(16px);

  &__avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: utils.$color-gray-dark;
    padding: utils.pxToRem(8px);

    img {
      width: utils.pxToRem(30px);
      height: utils.pxToRem(30px);
      object-fit: contain;

      @include utils.media-ltmd() {
        width: utils.pxToRem(20px);
        height: utils.pxToRem(20px);
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: utils.pxToRem(8px);

    h3 {
      font-weight: 500;
      font-size: clamp(16px, 2vw, 18px);
    }

    p,
    h4 {
      font-size: clamp(14px, 2vw, 16px);
    }
  }
}
