<section class="form" [formGroup]="form()">
  <div class="form__contact">
    <h1>Información de envío</h1>

    <div class="fields">
      <input
        id="method"
        type="text"
        formControlName="method"
        placeholder="Método de envío"
        class="disabled input-standard"
        [class.invalid]="onCheckInput('method')"
      />
    </div>
    <div class="fields">
      <input
        id="price"
        type="text"
        formControlName="price"
        placeholder="Costo de envío"
        class="disabled input-standard"
        [class.invalid]="onCheckInput('price')"
      />
    </div>

    <p>Gratis para ti.</p>
  </div>
</section>
