<div class="sidebar-filters">
  <h1>Filtros</h1>

  <div class="sizes">
    <h2>Tallas</h2>

    <div class="sizes__controls">
      @for(size of filters().sizes; track size){
      <app-box-button
        [text]="size.label"
        [typeControl]="typeControl.BUTTON"
        [checked]="isActiveFilter('talla', size.value)"
        (onClick)="onChangeFilter('talla', size.value)"
      />
      }
    </div>
  </div>

  <div class="accordion">
    <app-accordion [openDefault]="true" openingTitle="Disponibilidad">
      <div content class="accordion__controls">
        @for(available of filters().availability; track available){
        <app-accordion-item>
          <app-box-button
            control
            [typeControl]="typeControl.CHECKBOX"
            [checked]="isActiveFilter('disponibilidad', available.value)"
            (onClick)="onChangeFilter('disponibilidad', available.value)"
          />
          <p text>{{ available.label }}</p>
        </app-accordion-item>
        }
      </div>
    </app-accordion>
  </div>

  <div class="accordion">
    <app-accordion openingTitle="Categoria" [openDefault]="true">
      <div content class="accordion__controls">
        @for(category of filters().categories; track category){
        <app-accordion-item>
          <app-box-button
            control
            [typeControl]="typeControl.CHECKBOX"
            [disabled]="isActiveGender(category.value)"
            [checked]="isActiveGender(category.value)"
            (onClick)="onChangeFilter('categoria', category.value)"
          />
          <p text>{{ category.label }}</p>
        </app-accordion-item>
        }
      </div>
    </app-accordion>
  </div>

  <div class="accordion">
    <app-accordion
      openingTitle="Color"
      [openDefault]="checkStateAccordion('color')"
    >
      <div content class="accordion__controls">
        @for(color of filters().colors; track color){
        <app-accordion-item>
          <app-box-button
            control
            [typeControl]="typeControl.CHECKBOX"
            [checked]="isActiveFilter('color', color.value)"
            (onClick)="onChangeFilter('color', color.value)"
          />
          <p text>{{ color.label }}</p>
        </app-accordion-item>
        }
      </div>
    </app-accordion>
  </div>

  <div class="accordion">
    <app-accordion
      openingTitle="Precio"
      [openDefault]="checkStateAccordion('precio')"
    >
      <div content class="accordion__controls">
        @for(price of filters().prices; track price){
        <app-accordion-item>
          <app-box-button
            control
            [typeControl]="typeControl.CHECKBOX"
            [checked]="isActiveFilter('precio', price.value)"
            (onClick)="onChangeFilter('precio', price.value)"
          />
          <p text>{{ price.label }}</p>
        </app-accordion-item>
        }
      </div>
    </app-accordion>
  </div>

  <div class="accordion">
    <app-accordion
      openingTitle="Colección"
      [openDefault]="checkStateAccordion('coleccion')"
    >
      <div content class="accordion__controls">
        @for(collection of filters().collections; track collection){
        <app-accordion-item>
          <app-box-button
            control
            [typeControl]="typeControl.CHECKBOX"
            [checked]="isActiveFilter('coleccion', collection.value)"
            (onClick)="onChangeFilter('coleccion', collection.value)"
          />
          <p text>{{ collection.label }}</p>
        </app-accordion-item>
        }
      </div>
    </app-accordion>
  </div>

  <div class="accordion">
    <app-accordion
      openingTitle="Calificación"
      [openDefault]="checkStateAccordion('calificacion')"
    >
      <div content class="accordion__controls">
        @for(rating of filters().ratings; track rating){
        <app-accordion-item>
          <app-box-button
            control
            [typeControl]="typeControl.CHECKBOX"
            [checked]="isActiveFilter('calificacion', rating.value)"
            (onClick)="onChangeFilter('calificacion', rating.value)"
          />
          <p text>{{ rating.label }}</p>
        </app-accordion-item>
        }
      </div>
    </app-accordion>
  </div>
</div>
