@use 'utils';

.checkout {
  display: flex;
  justify-content: space-between;
  margin-top: utils.pxToRem(20px);
  margin-bottom: utils.pxToRem(40px);
  gap: utils.pxToRem(32px);
  @include utils.container();

  @include utils.media-ltmd {
    flex-direction: column;
    align-items: center;
    margin-top: utils.pxToRem(10px);
    margin-bottom: utils.pxToRem(20px);
  }

  &__data {
    display: flex;
    width: 100%;
    max-width: utils.pxToRem(500px);
    flex-direction: column;
    gap: utils.pxToRem(16px);

    .back {
      font-size: utils.pxToRem(24px);
      cursor: pointer;
    }

    .form {
      display: flex;
      flex-direction: column;
      gap: utils.pxToRem(16px);

      .inactive {
        display: none;
      }

      .continue-button {
        display: grid;
        grid-template-areas: 'back next';
        grid-template-columns: 1fr 1fr;
        gap: utils.pxToRem(16px);
        width: 100%;

        .back {
          display: none;
          grid-area: back;
          &.show {
            display: block;
          }
        }

        .next {
          grid-area: next;
        }
      }
    }
  }

  &__summary {
    width: 100%;
    margin-top: utils.pxToRem(40px);
    max-width: utils.pxToRem(400px);
    height: fit-content;
  }
}
