<main class="checkout">
  <div class="checkout__data">
    <p class="back">⟵</p>
    <h1>VERIFICAR</h1>

    <!-- TODO: Envolver estos steps en un componente proyectado -->
    <nav class="steps">
      <span (click)="onChangeStep(typeSteps.INFORMATION)">INFORMACIÓN</span>
      <span (click)="onChangeStep(typeSteps.SHIPPING)">ENVÍO</span>
      <span (click)="onChangeStep(typeSteps.PAYMENT)">PAGO</span>
    </nav>

    <form class="form" [formGroup]="checkoutForm">
      <app-checkout-data-form
        [form]="customerForm"
        [class.inactive]="!listSteps[0].active"
      />
      <app-checkout-shipping-form
        [form]="shippingForm"
        [class.inactive]="!listSteps[1].active"
      />
      <app-checkout-payment-form
        [form]="paymentForm"
        [class.inactive]="!listSteps[2].active"
      />

      <div class="continue-button">
        <app-box-button
          text="Continuar envío ⟶"
          [sizeControl]="sizeControl.LARGE"
          [typeControl]="typeControl.BUTTON"
        />
      </div>
    </form>
  </div>

  <div class="checkout__summary"></div>
</main>
