<section class="form" [formGroup]="form()">
  <div class="form__payment">
    <h1>Información de pago</h1>

    <div class="fields">
      <input
        id="paymentMethod"
        type="text"
        formControlName="method"
        placeholder="Método de pago"
        class="disabled input-standard"
        [class.invalid]="onCheckInput('method')"
      />
    </div>

    <div class="fields">
      <input
        id="cardName"
        type="text"
        formControlName="cardName"
        placeholder="Nombre del títular"
        class="input-standard"
        [class.invalid]="onCheckInput('cardName')"
      />
    </div>

    <div class="fields">
      <input
        id="cardNumber"
        type="text"
        formControlName="cardNumber"
        placeholder="Número de tarjeta"
        class="disabled input-standard"
        [class.invalid]="onCheckInput('cardNumber')"
      />
      <input
        id="expDate"
        type="text"
        formControlName="expDate"
        placeholder="Fecha de expiración"
        class="disabled input-standard"
        [class.invalid]="onCheckInput('expDate')"
      />
    </div>

    <div class="fields">
      <input
        id="cvv"
        type="text"
        formControlName="cvv"
        placeholder="CVV"
        class="disabled input-standard"
        [class.invalid]="onCheckInput('cvv')"
      />
    </div>
  </div>
</section>
