@use 'utils';

.input-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  gap: utils.pxToRem(12px);
  justify-content: space-between;
  max-width: utils.pxToRem(460px);
  min-height: utils.pxToRem(35px);
  padding: utils.pxToRem(8px);
  border-radius: utils.pxToRem(4px);
  background-color: utils.$color-gray-light;

  &__icon {
    margin-left: utils.pxToRem(8px);
  }

  &__search {
    border: none;
    outline: none;
    flex: 1;
    font-size: utils.pxToRem(16px);
    background-color: transparent;
  }
}
