@use 'utils';

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 50px;
  margin-top: utils.pxToRem(16px);
  margin-bottom: utils.pxToRem(16px);
  @include utils.container();

  &__toggle {
    cursor: pointer;
    pointer-events: none;

    @include utils.media-ltmd() {
      pointer-events: auto;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    font-weight: 500;
  }

  &__items {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: utils.pxToRem(32px);

    li {
      cursor: pointer;
    }
  }

  &__buttons {
    display: flex;
    gap: utils.pxToRem(24px);
  }

  @include utils.media-ltmd() {
    &__items {
      display: none;
    }
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: utils.pxToRem(24px);
  color: utils.$color-white;

  ul {
    display: flex;
    flex-direction: column;
    gap: utils.pxToRem(12px);
    list-style: none;
    font-size: utils.pxToRem(24px);
    padding-left: utils.pxToRem(16px);
  }
}
