<nav class="navbar">
  <div class="navbar__list">
    <img
      #toggle
      src="toggle.svg"
      alt="Web toggle"
      class="navbar__toggle"
      [class.hide]="stateSidebar()"
      aria-label="Abrir menú"
      (click)="toggleSidebar()"
    />

    <ul class="navbar__items">
      <li>Inicio</li>
      <li>Nuevo</li>
      <li>Hombre</li>
      <li>Mujer</li>
      <li>Niño</li>
    </ul>
  </div>

  <div class="navbar__buttons">
    <app-button icon="favorite.svg" type="primary" />
    <app-button
      text="Carrito"
      type="primary"
      [customStyles]="cartButtonStyles"
    />
    <app-button icon="user.svg" type="primary" />
  </div>
</nav>

<app-sidebar
  [openSidebar]="stateSidebar()"
  (closeSidebar)="stateSidebar.set(false)"
/>
