<nav class="navbar">
  <div class="navbar__list">
    <img
      #toggle
      src="toggle.svg"
      alt="Web toggle"
      class="navbar__toggle"
      [class.hide]="stateSidebar()"
      aria-label="Abrir menú"
      (click)="toggleSidebar()"
    />

    <ul class="navbar__items">
      <li [routerLink]="['/']">Inicio</li>
      <li [routerLink]="['/productos', 'nuevo']">Nuevo</li>
      <li [routerLink]="['/productos', 'hombre']">Hombre</li>
      <li [routerLink]="['/productos', 'mujer']">Mujer</li>
    </ul>
  </div>

  <div class="navbar__buttons">
    <app-button icon="favorite.svg" type="primary" />
    <app-button
      icon="cart.svg"
      type="iconText"
      [text]="cartSize().toString()"
      [customStyles]="cartButtonStyles"
      routerLink="/carrito"
    />
    <app-button icon="user.svg" type="primary" />
  </div>
</nav>

<app-sidebar
  [openSidebar]="stateSidebar()"
  (closeSidebar)="stateSidebar.set(false)"
/>
