<section class="carousel">
  <div class="carousel__items" (scroll)="checkButtons()" #carousel>
    @for(product of products; track product){
    <app-product
      [product]="product"
      [showAddButton]="showInteractionCard()"
      [showDetails]="showInteractionCard()"
    />
    }
  </div>

  <div class="carousel__buttons">
    @if(showControls()){
    <app-box-button
      [typeControl]="typeControl.BUTTON"
      [text]="'<'"
      (onClick)="prev()"
      [disabled]="isAtStart()"
    />
    <app-box-button
      [typeControl]="typeControl.BUTTON"
      [text]="'>'"
      (onClick)="next()"
      [disabled]="isAtEnd()"
    />
    }
  </div>
</section>
