<section class="carousel">
  <div class="carousel__items" (scroll)="checkButtons(carousel)" #carousel>
    @for(product of products; track product){
    <app-product [product]="product" [showAddButton]="true" />
    }
  </div>

  <div class="carousel__buttons">
    <app-box-button
      [typeControl]="typeControl.STANDARD"
      [text]="'<'"
      (onClick)="prev(carousel)"
      [disabled]="isAtStart()"
    />
    <app-box-button
      [typeControl]="typeControl.STANDARD"
      [text]="'>'"
      (onClick)="next(carousel)"
      [disabled]="isAtEnd()"
    />
  </div>
</section>
