@use 'utils';

.detail {
  display: flex;
  flex-direction: row;
  gap: utils.pxToRem(80px);
  justify-content: center;
  align-items: center;
  height: 80vh;
  @include utils.container();

  @include utils.media-ltlg() {
    flex-direction: column;
    height: auto;
    gap: utils.pxToRem(40px);
  }

  &__filters {
    width: 100%;
    max-width: utils.pxToRem(430px);
    border: 1px solid utils.$color-gray-light;

    .add-favorite {
      display: flex;
      justify-content: flex-end;
    }

    .content {
      display: flex;
      flex-direction: column;
      gap: utils.pxToRem(24px);
      padding: utils.pxToRem(32px);

      &__sizes {
        display: flex;
        gap: utils.pxToRem(8px);
        flex-direction: column;
      }
    }

    @include utils.media-ltlg() {
      max-width: utils.pxToRem(350px);
    }
  }

  h1 {
    font-size: utils.pxToRem(20px);
    font-weight: 500;
  }

  h2 {
    font-size: utils.pxToRem(16px);
    font-weight: 500;
  }

  small {
    color: utils.$color-gray-dark;
  }
}
