<app-navbar />

<main class="detail">
  <app-product-gallery [image]="product()?.imageUrl" />

  <aside class="detail__filters">
    <div class="add-favorite">
      <app-button icon="favorite.svg"></app-button>
    </div>

    <div class="content">
      <h1>{{ product()?.description?.title | transformCase : 'upper' }}</h1>
      <h1>${{ product()?.description?.price | currency : 'COP' : '' }}</h1>
      <p>{{ product()?.description?.subtitle }}</p>

      <app-sample-product-color
        [colors]="product()?.color"
        [activeColor]="selectedFilters()?.[1]?.value"
      />

      <app-sample-product-size
        [sizes]="product()?.size"
        [activeSize]="selectedFilters()?.[0]?.value"
      />

      <small>Encuentra tu talla | Guía de medición</small>

      <app-box-button
        text="AÑADIR"
        [sizeControl]="sizeControl.LARGE"
        [typeControl]="typeControl.BUTTON"
        (onClick)="redirecToCheckout()"
      />
    </div>
  </aside>
</main>
