<app-navbar />

<main class="product-list-page">
  <aside class="filters">
    <app-sidebar-filters (selectedFilter)="onSelectFilter($event)" />
  </aside>

  <div class="content">
    <app-breadcrumb />
    <h1>Productos</h1>

    <div class="content__boxs">
      <app-search-input />
      <div class="content__filters">
        @for(collection of filters().collections; track collection){
        <app-box-button
          [text]="collection.label"
          [sizeControl]="sizeControl.MEDIUM"
          [typeControl]="typeControl.BUTTON"
          (onClick)="
            onSelectFilter({
              label: 'coleccion',
              value: collection.value
            })
          "
        />
        }
      </div>
    </div>

    <div class="content__results">
      @for(product of products; track product){
      <app-product [product]="product" />
      }
    </div>
  </div>
</main>

<app-footer />
