@use 'utils';

.product-list-page {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: utils.pxToRem(30px);
  @include utils.container();

  .filters {
    position: sticky;
    align-self: flex-start;
    top: utils.pxToRem(60px);
    margin-top: utils.pxToRem(60px);
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: utils.pxToRem(12px);

    &__boxs {
      gap: utils.pxToRem(32px);
      display: grid;
      grid-template-columns: utils.pxToRem(300px) 1fr;

      @include utils.media-ltxl() {
        grid-template-columns: 1fr;
      }
    }

    &__filters {
      display: grid;
      column-gap: utils.pxToRem(8px);
      grid-template-columns: repeat(
        auto-fit,
        minmax(200px, 1fr)
      );

      @include utils.media-ltmd() {
        grid-template-columns: 1fr !important;
      }

      @include utils.media-ltlg() {
        grid-template-columns: 1fr 1fr;
      }
    }

    &__results {
      display: grid;
      gap: utils.pxToRem(32px);
      margin-top: utils.pxToRem(16px);
      grid-template-columns: repeat(3, 1fr);
      justify-content: center;
      overflow: hidden;

      @include utils.media-ltlg() {
        grid-template-columns: 200px 200px;
      }

      @include utils.media-lg() {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }

  h1 {
    font-size: utils.pxToRem(24px);
  }
}
