<app-navbar />

<main class="product-list-page">
  <aside class="filters">
    <app-sidebar-filters />
  </aside>

  <div class="content">
    <app-breadcrumb />
    <h1>Productos</h1>

    <div class="content__boxs">
      <app-search-input />
      <div class="content__filters">
        <app-box-button
          text="NEW"
          [sizeControl]="sizeControl.MEDIUM"
          [typeControl]="typeControl.BUTTON"
          (onClick)="onSelectFilter()"
        />
        <app-box-button
          text="SHIRTS"
          [sizeControl]="sizeControl.MEDIUM"
          [typeControl]="typeControl.BUTTON"
          (onClick)="onSelectFilter()"
        />
        <app-box-button
          text="JACKETS"
          [sizeControl]="sizeControl.MEDIUM"
          [typeControl]="typeControl.BUTTON"
          (onClick)="onSelectFilter()"
        />
        <app-box-button
          text="SHORTS"
          [sizeControl]="sizeControl.MEDIUM"
          [typeControl]="typeControl.BUTTON"
          (onClick)="onSelectFilter()"
        />
        <app-box-button
          text="BEST SELLERS"
          [sizeControl]="sizeControl.MEDIUM"
          [typeControl]="typeControl.BUTTON"
          (onClick)="onSelectFilter()"
        />
        <app-box-button
          text="JEANS"
          [sizeControl]="sizeControl.MEDIUM"
          [typeControl]="typeControl.BUTTON"
          (onClick)="onSelectFilter()"
        />
      </div>
    </div>

    <div class="content__results">
      @for(product of products; track product){
      <app-product [product]="product" />
      }
    </div>
  </div>
</main>

<app-footer />
