@use 'utils';

.footer {
  margin-top: utils.pxToRem(100px);
  background-color: utils.$color-white;
  font-size: clamp(14px, 2vw, 16px);

  &__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: utils.pxToRem(20px);
    padding-bottom: utils.pxToRem(20px);
    @include utils.container();

    @include utils.media-xs() {
      flex-direction: column;
      gap: utils.pxToRem(32px);
      padding: 0;
      align-items: flex-start;
    }
  }

  .list {
    ul {
      padding: 0;
    }

    small {
      font-weight: 500;
    }
  }

  img {
    width: clamp(30px, 20vw, 130px);
  }
}
