<footer class="footer">
  <div class="footer__wrapper">
    <div class="list">
      <small>INFO</small>

      <li>
        <ul>
          PRECIOS
        </ul>
        <ul>
          SOBRE NOSOTROS
        </ul>
        <ul>
          CONTACTO
        </ul>
      </li>
    </div>

    <div class="list">
      <small>LENGUAGES</small>

      <li>
        <ul>
          INGLES
        </ul>
        <ul>
          ESPAÑOL
        </ul>
        <ul>
          PORTUGUES
        </ul>
      </li>
    </div>

    <div class="logo">
      <img src="logo.svg" alt="Logo corporativo" />
    </div>
  </div>
</footer>
