<article class="product">
  <div class="product__image">
    <img [src]="product().imageUrl" [alt]="product().alt" />
    <button [class.isActive]="showAddButton()">+</button>
  </div>

  @if(product().description){
  <div class="product__detail">
    @if(showDetails()){ @let description = product().description;

    <div class="description">
      <p>{{ description?.title }}</p>
    </div>

    <div class="price">
      <p>{{ description?.subtitle }}</p>
      <p>${{ description?.price }}</p>
    </div>
    }
  </div>
  }
</article>
