@use 'utils';

.sample-product-color {
  display: flex;
  flex-direction: column;
  gap: utils.pxToRem(8px);
  color: utils.$color-gray-dark;
  font-size: utils.pxToRem(14px);

  .block-colors {
    display: flex;
    gap: utils.pxToRem(6px);

    div {
      height: utils.pxToRem(32px);
      width: utils.pxToRem(32px);
      border: 1px solid utils.$color-gray-light;
    }
  }
}
