<app-navbar />

<main class="home">
  <section class="home__categories">
    <p>HOMBRES</p>
    <p>MUJERES</p>
    <p>NIÑOS</p>
  </section>

  <app-search-input />

  <app-new-collection />

  <app-new-this-week />

  <app-collections />

  <section class="home__banner">
    <h1>NUESTRO ENFOQUE DEL DISEÑO DE MODA</h1>
    <p>
      En Elegant Vogue, combinamos creatividad y artesanía para crear moda que
      trasciende las tendencias y resiste el paso del tiempo. Cada diseño se
      elabora meticulosamente, garantizando la más alta calidad y un acabado
      exquisito.
    </p>
  </section>

  <section class="home__collage">
    <div class="item-0">
      <img
        src="https://res.cloudinary.com/db1tp6eqg/image/upload/v1756779610/product1_zgq3nh.png"
        alt="Imagenes de collage"
      />
    </div>
    <div class="item-1">
      <img
        src="https://res.cloudinary.com/db1tp6eqg/image/upload/v1756779610/product1_zgq3nh.png"
        alt="Imagenes de collage"
      />
    </div>
    <div class="item-2">
      <img
        src="https://res.cloudinary.com/db1tp6eqg/image/upload/v1756779610/product1_zgq3nh.png"
        alt="Imagenes de collage"
      />
    </div>
  </section>
</main>

<app-footer />
