@use 'utils';

.sample-product-size {
  display: flex;
  flex-direction: column;
  gap: utils.pxToRem(8px);
  color: utils.$color-gray-dark;
  font-size: utils.pxToRem(14px);

  .block-sizes {
    display: flex;
    gap: utils.pxToRem(6px);
  }
}
