<section class="new-collection">
  <div class="card">
    <div class="card__titles">
      <h1>NUEVA</h1>
      <h1>COLECCIÓN</h1>
      <p>Verano</p>
      <p>2025</p>
    </div>

    <div class="card__buttons">
      <app-box-button
        [typeControl]="typeControl.NAVIGATION"
        text="Ir a comprar ⟶"
      />
      <div class="controls">
        <app-box-button [typeControl]="typeControl.STANDARD" [text]="'<'" />
        <app-box-button [typeControl]="typeControl.STANDARD" [text]="'>'" />
      </div>
    </div>
  </div>

  @for(product of newCollection; track product){
  <app-product [product]="product" />
  }
</section>
