@use "utils";

.new-collection {
  display: grid;
  gap: utils.pxToRem(32px);
  grid-template-columns: 420px 1fr;
  overflow: hidden;
  @include utils.container();
}

.card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: utils.pxToRem(24px);

  &__buttons {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: utils.pxToRem(8px);

    .controls {
      display: flex;
      gap: utils.pxToRem(8px);
    }
  }
}
