@use 'utils';

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  box-sizing: border-box;
  background-color: #f7f7f7;

  button,
  li,
  img {
    cursor: pointer;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h1 {
    margin: 0;
  }

  hr {
    border: none;
    border-top: 1px solid utils.$color-gray-light;
  }

  li {
    list-style: none;
  }

  input {
    padding: utils.pxToRem(12px) utils.pxToRem(20px);
    border: 1px solid utils.$color-gray-light;
    font-size: utils.pxToRem(14px);
    background: transparent;
    width: 100%;

    &.invalid {
      border-color: utils.$color-danger;
    }

    &.invalid::placeholder {
      color: utils.$color-danger;
    }

    &.disabled {
      background-color: utils.$color-gray-light-2;
    }
  }
}
