<aside class="summary">
  <div class="summary__quantity">
    <span>(2)</span>
  </div>

  <div class="summary__content">
    <h2 class="summary__title">Tu orden</h2>

    <div class="summary__product">
      <div class="summary__product--image">
        <img
          src="https://res.cloudinary.com/db1tp6eqg/image/upload/v1757732159/Rectangle_3_2_z3eslv.png"
          alt="Imagen del producto"
        />
      </div>

      <div class="summary__product--description">
        <p>Camisa manga larga</p>
        <span>$ 49.99</span>
        <span>Cantidad: 1</span>
      </div>
    </div>

    <div class="summary__product">
      <div class="summary__product--image">
        <img
          src="https://res.cloudinary.com/db1tp6eqg/image/upload/v1757732159/Rectangle_3_2_z3eslv.png"
          alt="Imagen del producto"
        />
      </div>

      <div class="summary__product--description">
        <p>Camisa manga larga</p>
        <span>$ 49.99</span>
        <span>Cantidad: 1</span>
      </div>
    </div>

    <hr />
    <div class="summary__subtotal">
      <p>Subtotal</p>
      <span>$ 99.98</span>
    </div>
    <div class="summary__shipping">
      <p>Shipping</p>
      <span>$ 0</span>
    </div>
    <hr />
    <div class="summary__total">
      <p>Total</p>
      <span>$ 99.98</span>
    </div>
  </div>
</aside>
