<aside class="summary">
  <div class="summary__quantity">
    <span>({{ cart().items.length }})</span>
  </div>

  <div class="summary__content">
    <h2 class="summary__title">Tu orden</h2>

    @for(product of cart().items; track product){
    <div class="summary__product">
      <app-button
        icon="close.svg"
        type="bottomless"
        class="summary__product--remove"
        (onClick)="onRemoveProduct(product.id)"
      />
      <div class="summary__product--image">
        <img
          [src]="product | transformProductImage"
          alt="Producto del carrito"
        />
      </div>

      <div class="summary__product--description">
        <p>{{ product.description?.title }}</p>
        <span>{{ product.colorSelected }}/{{ product.sizeSelected }}</span>
        <span>${{ product.description?.price | currency : 'COP' : '' }}</span>
        <span>Cantidad: {{ product.quantity }}</span>
      </div>
    </div>
    }
  </div>

  <div class="summary__data">
    <hr />
    <div class="summary__data--block">
      <p>Subtotal</p>
      <span>$ {{ totalProducts() | currency : 'COP' : '' }} </span>
    </div>
    <div class="summary__data--block shipping">
      <p>Shipping</p>
      <span>$ 0</span>
    </div>
    <hr />
    <div class="summary__data--block">
      <p>Total</p>
      <span>${{ totalProducts() | currency : 'COP' : '' }}</span>
    </div>
  </div>
</aside>
