<section class="form" [formGroup]="form()">
  <div class="form__contact">
    <h1>Información de contacto</h1>

    <div class="fields">
      <input
        id="email"
        type="email"
        formControlName="email"
        placeholder="Correo"
        [class.invalid]="onCheckInput('email')"
      />
    </div>

    <div class="fields">
      <input
        id="phone"
        type="number"
        formControlName="phone"
        placeholder="Teléfono"
        [class.invalid]="onCheckInput('phone')"
      />
    </div>
  </div>

  <div class="form__address">
    <h1>Dirección de envío</h1>

    <div class="fields">
      <input
        id="firstName"
        type="text"
        formControlName="firstName"
        placeholder="Nombres"
        [class.invalid]="onCheckInput('firstName')"
      />
      <input
        id="lastName"
        type="text"
        formControlName="lastName"
        placeholder="Apellidos"
        [class.invalid]="onCheckInput('lastName')"
      />
    </div>

    <div class="fields">
      <input
        id="country"
        type="text"
        formControlName="country"
        placeholder="País"
        [class.invalid]="onCheckInput('country')"
      />
      <input
        id="state"
        type="text"
        formControlName="state"
        placeholder="Departamento"
        [class.invalid]="onCheckInput('state')"
      />
    </div>
    <div class="fields">
      <input
        id="address"
        type="text"
        formControlName="address"
        placeholder="Dirección"
        [class.invalid]="onCheckInput('address')"
      />
    </div>
    <div class="fields">
      <input
        id="city"
        type="text"
        formControlName="city"
        placeholder="Ciudad"
        [class.invalid]="onCheckInput('city')"
      />
      <input
        id="zipCode"
        type="text"
        formControlName="zipCode"
        placeholder="Código postal"
        [class.invalid]="onCheckInput('zipCode')"
      />
    </div>
  </div>
</section>
